[workspace]
channels = ["conda-forge"]
name = "healpix-geo"
platforms = ["linux-64"]
version = "0.1.0"

[dependencies]
rust = ">=1.91.1,<1.92"
maturin = ">=1.10.2,<2"
numpy = ">=2.3.5,<3"

[pypi-dependencies]
healpix-geo = { path = ".", editable = true }

[tasks]
build-wheel = "maturin build -r --compatibility manylinux_2_28 --strip --auditwheel repair"

[tasks.build-all-wheels]
depends-on = [
  { task = "build-wheel", environment = "py311" },
  { task = "build-wheel", environment = "py312" },
  { task = "build-wheel", environment = "py313" },
  { task = "build-wheel", environment = "py314" },
]

[feature.dev.dependencies]
ipython = "*"

[feature.tests.dependencies]
pytest = "*"
pytest-cov = "*"
shapely = "*"
cdshealpix = "*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py314.dependencies]
python = "3.14.*"

[environments]
dev = ["tests", "py313", "dev"]
py311 = ["py311"]
py312 = ["py312"]
py313 = ["py313"]
py314 = ["py314"]
ci-py311 = ["py311", "tests"]
ci-py312 = ["py312", "tests"]
ci-py313 = ["py313", "tests"]
