[workspace]
channels = ["conda-forge"]
name = "healpix-geo"
platforms = ["linux-64", "win-64", "osx-arm64"]

[dependencies]
rust = ">=1.91.1"
maturin = ">=1.10"
numpy = ">=2.3.5"

[pypi-dependencies]
healpix-geo = { path = ".", editable = true }

[tasks]
build-wheel = "maturin build -r --compatibility manylinux_2_28 --strip --auditwheel repair"

[tasks.build-all-wheels]
depends-on = [
  { task = "build-wheel", environment = "py311" },
  { task = "build-wheel", environment = "py312" },
  { task = "build-wheel", environment = "py313" },
  { task = "build-wheel", environment = "py314" },
]

[tasks.tests]
depends-on = [{ task = "run-tests", environment = "dev" }]

[tasks.ci-lint-rust]
depends-on = [{ task = "rust-lints", environment = "py313" }]

[tasks.lint-rust]
depends-on = [{ task = "rust-lints", environment = "dev" }]

[feature.dev.dependencies]
ipython = "*"

[feature.dev.tasks]
ipython = "ipython"

[feature.tests.dependencies]
pytest = "*"
pytest-cov = "*"
shapely = "*"
cdshealpix = "*"

[feature.tests.tasks]
run-tests = { cmd = "pytest --cov=healpix_geo" }

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py313.tasks]
rust-lints = "cargo clippy --all-targets --all-features -- -D warnings"

[feature.py314.dependencies]
python = "3.14.*"

[feature.jupyterlite.target.linux-64.dependencies]
rattler-build = "*"

[feature.jupyterlite.tasks.build-jupyterlite]
cmd = [
  "rattler-build",
  "build",
  "--package-format",
  "tar-bz2",
  "-c",
  "https://repo.prefix.dev/emscripten-forge-4x",
  "-c",
  "conda-forge",
  "--output-dir",
  "target/conda",
  "--recipe",
  "ci/rattler-recipe/recipe.yaml",
  "--target-platform",
  "emscripten-wasm32",
]
cwd = "."

[feature.docs.dependencies]
sphinx = "*"
matplotlib = "*"
pydata-sphinx-theme = "*"
myst-parser = "*"
jupyter-sphinx = "*"
sphinx-autobuild = "*"
geopandas = "*"
tabulate = "*"
markdown = "*"
pandas = "*"
pyresample = "*"
astropy = ">=7.2.0,<8"
cdshealpix = ">=0.7.2,<0.8"
sphinx-design = ">=0.7.0,<0.8"

[feature.docs.tasks]
build-docs = { cmd = "rm -rf generated/; python -m sphinx -b html -w warnings.log -W -Tn -j auto . _build", cwd = "docs" }
autobuild-docs = { cmd = "sphinx-autobuild -b html -w warnings.log -W -Tn -j auto . _build", cwd = "docs" }
build-docs-rtd = { cmd = "python -m sphinx -b html -W -T -j auto . $READTHEDOCS_OUTPUT/html", cwd = "docs" }


[environments]
dev = ["tests", "py313", "dev"]
py311 = ["py311"]
py312 = ["py312"]
py313 = ["py313"]
py314 = ["py314"]
ci-py311 = ["py311", "tests"]
ci-py312 = ["py312", "tests"]
ci-py313 = ["py313", "tests"]
jupyterlite = { no-default-feature = true, features = ["jupyterlite"] }
docs = ["docs", "py313"]
