name: Emscripten
on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  emscripten:
    name: emscripten-wasm32
    runs-on: "ubuntu-latest"

    env:
      FORCE_COLOR: 3

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Rust
        run: |
          rustup update stable
          rustup default stable

      - name: setup environment
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # 0.9.4
        with:
          environments: "jupyterlite"

      - name: build package
        run: |
          pixi run build-jupyterlite
