name: python CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch: # allows triggering manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-slim
    if: |
      github.repository == 'EOPF-DGGS/healpix-geo'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 2

      - uses: xarray-contrib/ci-trigger@10cd2bfec3484946a4058a421ddf9cfad101e715 # v1.2.1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  cache-pixi-lock:
    runs-on: ubuntu-slim
    needs: detect-ci-trigger
    if: |
      needs.detect-ci-trigger.outputs.triggered == 'false'
      && !contains(github.event.pull_request.labels.*.name, 'skip-ci')
    outputs:
      cache-key: ${{ steps.pixi-lock.outputs.cache-key }}
      pixi-version: ${{ steps.pixi-lock.outputs.pixi-version }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: Parcels-code/pixi-lock/create-and-cache@5cbd7a155fa24aa0711ec0a9aad9ede0819e84a1 # v0.1.0
        id: pixi-lock

  test:
    name: ${{ matrix.os }} | ${{ matrix.env }}
    needs: cache-pixi-lock
    runs-on: ${{ matrix.os }}
    env:
      FORCE_COLOR: 3
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
          - "windows-latest"
        env: ["ci-py311", "ci-py313"]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Rust
        run: |
          rustup update stable
          rustup default stable

      - uses: Parcels-code/pixi-lock/restore@5cbd7a155fa24aa0711ec0a9aad9ede0819e84a1 # v0.1.0
        with:
          cache-key: ${{ needs.cache-pixi-lock.outputs.cache-key }}

      - name: print current dir
        run: |
          ls -l

      - name: setup environment
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # 0.9.3
        with:
          environments: "${{ matrix.env }}"
          pixi-version: ${{ needs.cache-pixi-lock.outputs.pixi-version }}

      - run: |
          exit 1
        name: intentional failure

      - name: Create rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # 2.8.2
        with:
          prefix-key: "py${{ matrix.python-version }}"

      - name: Help finding installed libraries
        run: |
          export CONDA_PREFIX=$(pixi run --frozen -e '${{ matrix.env }}' 'echo $CONDA_PREFIX')
          if [[ -z "$CONDA_PREFIX" ]]; then
            echo "CONDA_PREFIX is unset!"
            exit 1
          fi

          pushd $CONDA_PREFIX
          echo "PKG_CONFIG_PATH=$(readlink -f lib/pkgconfig)" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$(readlink -f lib)" >> $GITHUB_ENV
          popd

      - name: Help the linker on macos
        if: runner.os == 'MacOS'
        run: |
          export CONDA_PREFIX=$(pixi run --frozen -e '${{ matrix.env }}' 'echo $CONDA_PREFIX')

          if [ ! -d target/debug/deps ]; then
              mkdir -p target/debug/deps
              ln -s $CONDA_PREFIX/lib/*.dylib target/debug/deps/
          fi

      - name: Check imports
        run: |
          pixi run \
              -e '${{ matrix.env }}' \
              --frozen \
              python -c 'import healpix_geo'

      - name: Run tests
        run: |
          pixi run -e '${{ matrix.env }}' --frozen python -m pytest --cov=healpix_geo
