name: python CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch: # allows triggering manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-ci-trigger:
    name: detect ci trigger
    runs-on: ubuntu-latest
    if: |
      github.repository == 'EOPF-DGGS/healpix-geo'
      && (github.event_name == 'push' || github.event_name == 'pull_request')
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: xarray-contrib/ci-trigger@v1
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    needs: detect-ci-trigger
    if: |
      needs.detect-ci-trigger.outputs.triggered == 'false'
      && !contains(github.event.pull_request.labels.*.name, 'skip-ci')
    env:
      FORCE_COLOR: 3
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
          - "windows-latest"
        env: ["ci-py311", "ci-py313"]

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: setup environment
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # 0.9.3
        with:
          environments: "${{ matrix.env }}"

      - name: Create rust cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "py${{ matrix.python-version }}"

      - name: Help finding installed libraries
        run: |
          export CONDA_PREFIX=$(pixi run --frozen 'echo $CONDA_PREFIX')
          if [[ -z "$CONDA_PREFIX" ]]; then
            echo "CONDA_PREFIX is unset!"
            exit 1
          fi

          pushd $CONDA_PREFIX
          echo "PKG_CONFIG_PATH=$(readlink -f lib/pkgconfig)" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$(readlink -f lib)" >> $GITHUB_ENV
          popd

      - name: Help the linker on macos
        if: runner.os == 'MacOS'
        run: |
          export CONDA_PREFIX=$(pixi run --frozen 'echo $CONDA_PREFIX')

          if [ ! -d target/debug/deps ]; then
              mkdir -p target/debug/deps
              ln -s $CONDA_PREFIX/lib/*.dylib target/debug/deps/
          fi

      - name: Explicitly build and install
        run: |
          pixi run -e "${{ matrix.env }}" --frozen maturin develop --uv

      - name: Check imports
        run: |
          pixi run \
              -e "${{ matrix.env }}" \
              --frozen \
              python -c 'import healpix_geo'

      - name: Run tests
        run: |
          pixi run -e "${{ matrix.env }}" --frozen python -m pytest --cov=healpix_geo
