name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}.${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    env:
      FORCE_COLOR: 3

    strategy:
      matrix:
        env: ["ci-py313"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: setup environment
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # 0.9.3
        with:
          environments: "${{ matrix.env }}"

      - name: Create rust cache
        uses: Swatinem/rust-cache@v2

      - name: Help finding installed libraries
        run: |
          export CONDA_PREFIX=$(pixi run -e "${{ matrix.env }}" --frozen 'echo $CONDA_PREFIX')
          if [[ -z "$CONDA_PREFIX" ]]; then
            echo "CONDA_PREFIX is unset!"
            exit 1
          fi

          pushd $CONDA_PREFIX
          echo "PKG_CONFIG_PATH=$(readlink -f lib/pkgconfig)" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$(readlink -f lib)" >> $GITHUB_ENV
          popd

      - name: Help the linker on macos
        if: runner.os == 'MacOS'
        run: |
          export CONDA_PREFIX=$(pixi run -e "${{ matrix.env }}" --frozen 'echo $CONDA_PREFIX')

          if [ ! -d target/debug/deps ]; then
              mkdir -p target/debug/deps
              ln -s $CONDA_PREFIX/lib/*.dylib target/debug/deps/
          fi

      - name: Cargo clippy
        run: |
          pixi run -e "${{ matrix.env }}" lint-rust
